body {
  margin: 0px;
  padding: 0px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: white;
}
header {
  background-color: white;
}
.navbar li {
  float: left;
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
}
.container > .navbar > * {
  flex-basis: 30px;
}

.navbar li a {
  text-decoration: none;
  color: #111;
  font-size: large;
}
.navbar li a:hover {
  background-color: rgb(234, 206, 206);
}
.logo {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  background-color: white;
}
.main1 {
  display: flex;
  flex-wrap: wrap;
  display: block;
}
.profile img {
  border-radius: 100%;
  padding: 0px;
  float: left;
  height: 300px;
  width: 300px;
  margin-left: 50px;
}
.caption {
  font-size: larger;
  display: block;
  text-align: center;
  padding-top: 10px;
}
.main2 {
  display: flex;
  flex-wrap: wrap;
  display: block;
  flex-direction: row;
  justify-content: center;
}
.profile2 img {
  border-radius: 100%;
  float: right;
  height: 300px;
  width: 300px;
}
.caption2 {
  font-size: larger;
  text-align: center;
  padding-top: 150px;
  text-align: left;
}
.Education {
  width: 100%;
  background-color: #fdfefe;
}

.Internships tr {
  padding-top: 20px;
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.Skills {
  grid-area: SK;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 30px;
}
.caption3 {
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}
.Skills h2 {
  text-align: left;
  padding-right: 20px;
}
.Skill {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.Skill li {
  padding: 10px;
  display: block;
  background-color: orangered;
  border-radius: 4px;
  border-width: 2px solid;
}
.Project link {
  text-align: left;
}
